.button {
  cursor: pointer;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  font-weight: 600;
  text-align: center;

  &.button--primary {
    transform: scale(1);
    transition: transform 80ms ease-in-out;
    padding-bottom: 0.375rem;
    font-size: var(--fs-1);
    color: var(--color-neutral-0);
    text-shadow: 1px 1px 0 var(--color-primary-shadow-800),
      -1px -1px 0 var(--color-primary-shadow-800),
      1px -1px 0 var(--color-primary-shadow-800),
      -1px 1px 0 var(--color-primary-shadow-800);
    background: linear-gradient(
      var(--color-primary-100) 0%,
      var(--color-primary-200) 6%,
      var(--color-primary-400) 94%,
      var(--color-primary-700) 100%
    );
  }

  &.button--secondary {
    transform: scale(1);
    transition: transform 80ms ease-in-out;
    font-size: var(--fs-0);
    color: var(--color-primary-800);
    background-color: var(--color-primary-200);
  }

  &.button--interactive:hover {
    transform: scale(1.1);
  }

  &.button--disabled {
    cursor: default;
    color: var(--color-neutral-700);
    background-color: var(--color-neutral-100);
  }
}
