.card {
  background: var(--color-neutral-700);
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.1),
    0 0 2px 0 rgba(0, 0, 0, 0.2);
  transition: height 100ms ease-in-out, background 300ms ease-in-out 100ms;

  &.tall {
    background: var(--color-primary-700);
  }
}

.card__separator-top {
  border-top: 1px solid #555861;
}
.card__separator-bottom {
  border-bottom: 1px solid var(--color-neutral-800);
}
