body {
  background: #212429 url("../assets/what-the-hex-dark.png") center repeat;
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--color-primary-300);
}
