body {
  background: var(--color-neutral-800) url("../assets/what-the-hex-dark.png")
    center repeat;
  color: var(--color-text-default);
  font-family: var(--ff-body);
  font-size: var(--fs-1);
  line-height: 1.6;

  @media screen and (min-width: 600px) {
    font-size: var(--fs-2);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary-200);
  font-family: var(--ff-heading);
  line-height: 1.3;
}
