.page-layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.game-layout {
  display: grid;
  gap: 0.75rem;

  @media (min-width: 600px) {
    grid-template-columns: 180px 1fr;
    grid-template-rows: repeat(3, auto) 1fr;
  }

  @media (min-width: 780px) {
    grid-auto-flow: column;
    grid-template-columns: 180px 278px 180px;
    grid-template-rows: auto 1fr auto;
  }
}

.controls-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;

  @media (min-width: 600px) {
    grid-row: span 3;
  }
}

.moves-layout {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  @media (min-width: 600px) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.new-game-layout {
  padding-top: 1rem;
  display: flex;
  justify-content: center;

  @media (min-width: 600px) {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}

.status-layout {
  @media (min-width: 600px) {
    grid-column-start: 2;
  }

  @media (min-width: 780px) {
    grid-row-start: 1;
  }
}

.board-layout {
  @media (min-width: 600px) {
    grid-column-start: 2;
  }

  @media (min-width: 780px) {
    grid-row-start: 2;
  }
}

.timer-layout {
  @media (min-width: 600px) {
    grid-column-start: 2;
  }
  @media (min-width: 780px) {
    grid-row-start: 3;
  }
}

.history-layout {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 600px) {
    grid-column: span 2;
  }
  @media (min-width: 780px) {
    grid-row: span 3;
  }
}
