:root {
  --square-rounded: 0.25rem;
  --square-border: 1px solid var(--color-neutral-200);
}

.square {
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-daysone);
  font-size: var(--fs-6);
  line-height: 1;

  &.square--default {
    color: var(--color-neutral-800);
    background-color: var(--color-neutral-0);
  }

  &.square--winning {
    color: var(--color-neutral-0);
    background-color: var(--color-neutral-850);
  }
}

.square:focus {
  outline: 2px solid var(--color-primary-400);
  outline-offset: -2px;
}

/* rounded corners on the board */
.square:first-child {
  border-top-left-radius: var(--square-rounded);
}
.square:nth-child(3) {
  border-top-right-radius: var(--square-rounded);
}
.square:nth-child(7) {
  border-bottom-left-radius: var(--square-rounded);
}
.square:last-child {
  border-bottom-right-radius: var(--square-rounded);
}

/* lines between squares */
.square:not(:nth-child(3n)) {
  border-right: var(--square-border);
}
.square:nth-child(-n + 6) {
  border-bottom: var(--square-border);
}
