:root {
  --square-rounded: 0.25rem;
  --square-border: 1px solid var(--color-neutral-200);
}

.square {
  position: relative;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-daysone);
  font-size: var(--fs-6);
  line-height: 1;

  &:focus,
  &:focus-visible {
    outline: 2px solid var(--color-primary-400);
    outline-offset: -2px;
  }

  &.square--default {
    color: var(--color-neutral-800);
    background-color: var(--color-neutral-0);
    transition: color 100ms ease-in 125ms, background-color 100ms ease-in 125ms;
  }

  &.square--winning {
    color: var(--color-neutral-0);
    background-color: var(--color-neutral-850);
    transition: color 100ms ease-out, background-color 100ms ease-out;
  }

  /* rounded corners on the board */
  &:first-child {
    border-top-left-radius: var(--square-rounded);
  }
  &:nth-child(3) {
    border-top-right-radius: var(--square-rounded);
  }
  &:nth-child(7) {
    border-bottom-left-radius: var(--square-rounded);
  }
  &:last-child {
    border-bottom-right-radius: var(--square-rounded);
  }

  /* lines between squares */
  &:not(:nth-child(3n)) {
    border-right: var(--square-border);
  }
  &:nth-child(-n + 6) {
    border-bottom: var(--square-border);
  }

  .square__value {
    transform: scale(1);
    transition: transform 100ms ease-in;

    .square--winning & {
      transform: scale(1.2);
      transition: transform 100ms ease-out 125ms;
    }
  }
}
