.status-card {
  height: 62px;
  transition: height 150ms ease-in-out, background 150ms ease-in-out;

  &.winner,
  &.tie {
    height: 90px;
  }

  &:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 600%;
    background: var(--color-primary-100)
      repeating-conic-gradient(
        var(--color-primary-50) 0%,
        var(--color-primary-100) 15%,
        var(--color-primary-50) 33%
      );
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  &.winner {
    &:before {
      opacity: 1;
      animation: spin 6s linear infinite;
    }
  }
  &.tie {
    background: var(--color-primary-700);
  }

  .text {
    position: relative;
    z-index: 1;
    text-align: center;
    color: var(--color-neutral-0);
    transition: color 50ms ease-in-out;

    &.winner {
      color: var(--color-primary-800);
    }
  }
}
