@layer base, theme, layout, components, utilities;
@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Quicksand:wght@300..700&display=swap")
layer(base);
@import "tailwindcss";

@import "./_default.css" layer(base);
@import "./_variables.css" layer(theme);
@import "./_typography.css" layer(theme);
@import "./_layouts.css" layer(layout);
@import "./_card.css" layer(components);
@import "./_buttons.css" layer(components);
@import "./_board.css" layer(components);
@import "./_squares.css" layer(components);
@import "./_status.css" layer(utilities);
@import "./_link.css" layer(utilities);
@import "./animations/index.css" layer(utilities);
